<h1>Get Offers</h1>
<%= form_for @offer_request, :url => offer_requests_create_path do |f| %>
  <%= render 'error_messages', object: f.object %>

  <fieldset>
    <%= f.text_field :uid, placeholder: 'uid' %>
    <%= f.text_field :pub0, placeholder: 'pub0' %>
    <%= f.text_field :page, placeholder: 'page' %>
  </fieldset>

  <%= f.submit 'Get Offers' %>

<% end %>

<%= link_to 'Make another offers request', root_path %>
